.exercise-list {
    background-color: black;
    color: white;
    padding: 20px;
}

.exercise-names p {
    cursor: pointer;
    margin: 5px 0;
    transition: color 0.3s;
}

.exercise-names p:hover {
    color: #ccc;
}

.exercise-description {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

.pagination {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.page-link:hover {
    text-decoration: underline;
}

.exercise-description ol, .exercise-description ul {
    padding-left: 20px;
}

.exercise-description li {
    margin-bottom: 10px;
}
